div.container
	div.row
		div.col-xs-12.col-lg-9
			h1= title
			h2= 'Availability: ' + contracts.availability.closed
			h3= contracts.agencies

	div.row
		div.col-xs-12.col-lg-9
			h1= projects.hero
			ul
				each consultancy in projects.consultancies
					a(href=consultancy.url, title=consultancy.name)
						li= consultancy.name

	div.row
		div.col-xs-12.col-lg-9
			a(href=profile.resume, target="_blank", title="Download Resume") Download Resume

	div.row
		div.col-xs-12.col-lg-3
			h3 Contact
			ul
				a(href="tel:02081440798") 
					li 020 8144 0798
				a(href="mailto:ian@iancrowther.co.uk") 
					li iancrowther.co.uk
